<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ReLock - Pieteikuma forma</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-datepicker.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        .container {
            max-width: 960px;
        }

        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }
        .border-top-gray { border-top-color: #adb5bd; }

        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

        .lh-condensed { line-height: 1.25; }

    </style>
</head>

<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Pasūtījuma pieteikums</h2>
        <p class="lead">
            Lūdzu, aizpildiet formu, un pēc īsa brīža
            ar Jums sazināsies mūsu operators.
        </p>
    </div>

    <div class="row">
        {{ form_errors(form) }}
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Pasūtījuma informācija</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    {{ form_label(form.amountOfDoors, 'Durvju skaits') }}
                    {{ form_widget(form.amountOfDoors, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.amountOfDoors) }}
                </li>
                <li class="list-group-item">
                    {{ form_label(form.amountOfWindows, 'Logu skaits') }}
                    {{ form_widget(form.amountOfWindows, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.amountOfWindows) }}
                </li>
                <li class="list-group-item">
                    {{ form_label(form.amountOfJalousies, 'Žalūziju skaits') }}
                    {{ form_widget(form.amountOfJalousies, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.amountOfJalousies) }}
                </li>
                <li class="list-group-item">
                    {{ form_label(form.amountOfGates, 'Vārtu skaits') }}
                    {{ form_widget(form.amountOfGates, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.amountOfGates) }}
                </li>
                <li class="list-group-item">
                    {{ form_label(form.measurementDate, 'Vēlamais mērījumu datums') }}
                    {{ form_widget(form.measurementDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                    {{ form_errors(form.measurementDate) }}
                </li>
                <li class="list-group-item">
                    {{ form_label(form.installationDate, 'Vēlamais montāžas datums') }}
                    {{ form_widget(form.installationDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                    {{ form_errors(form.installationDate) }}
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Personas dati</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.name, 'Vārds') }}
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.surname, 'Uzvārds' ) }}
                        {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.surname) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.email, 'E-pasts') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.phone, 'Telefons') }}
                        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
            <h4 class="mb-3">Adreses informācija</h4>

                <div class="mb-3">
                    {{ form_label(form.city, 'Pilsēta') }}
                    <div class="input-group">
                        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.city) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.streetAddress, 'Adrese') }}
                    <div class="input-group">
                        {{ form_widget(form.streetAddress, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.streetAddress) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.floor, 'Stāvs') }}
                    <div class="input-group">
                        {{ form_widget(form.floor, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.floor) }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.notes, 'Piezīmes') }}
                    <div class="input-group">
                        {{ form_widget(form.notes, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.notes) }}
                    </div>
                </div>
        </div>
        <div class="col-md-12 order-md-12">
                <hr class="mb-4">
                <h4 class="mb-3">Personas datu nodošana apstrādei</h4>
                <div class="mb-3">
                    <p>Apliecinu, ka visa šajā pieteikumā sniegtā informācija ir patiesa un pilnīga.</p>
                    <p>Parakstot šo pieteikumu, izsaku savu piekrišanu visu pieteikumā
                    norādīto personu datu apstrādei, lai sniegtu man pieprasītos pakalpojumus,
                    SIA "Relock", reģ. nr. LV42403038288, juridiskā adrese Rēzekne, Rūpnīcas iela 5B - 18, LV-4604.</p>
                    <p>Piekrītu savu personas datu glabāšanai un apstrādei divu gadu garumā no pasūtījuma izpildes brīža, vai viena gada garumā no pasūtījuma atteikšanas brīža.</p>
                    <p>Esmu informēts, ka man ir iespējas piekļūt saviem datiem un izdarīt tajos labojumus vai atteikties no turpmākas manu personas datu apstrādes, sazinoties
                        ar SIA "Relock" telefoniski vai rakstot uz relock@relock.lv</p>

                </div>
                <div class="mb-3">
                    {{ form_errors(form.agreeToUsePersonalInformation) }}
                    {{ form_widget(form.agreeToUsePersonalInformation) }}
                    {{ form_label(form.agreeToUsePersonalInformation, 'Piekrītu savu personas datu apstrādei') }}
                </div>
                <hr class="mb-4">
                {{ form_widget(form.placeTheOrder, { 'label': 'Iesniegt pieteikumu', 'attr': {'class': 'btn btn-primary btn-lg btn-block'} }) }}
        </div>
        {{ form_end(form) }}
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 ReLock</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>

<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
</body>
</html>
